VM_PREFIX={{ fastvm_vm_prefix }}
LIBVIRT_NETWORK={{ fastvm_net_name }}
SUBNET_NUMBER={{ fastvm_net }}
THINPOOL_VG={{ fastvm_vg }}
THINPOOL_LV={{ fastvm_lv }}
THINPOOL_SIZE={{ fastvm_lv_size }}
FASTVM_GROUP={{ fastvm_group }}
FASTVM_OWNER_ONLY_DELETE={{ fastvm_owner_only_delete }}
FASTVM_APPLIANCE={{ fastvm_appliance }}
FASTVM_KEYDIST_PASSWORD={{ fastvm_keydist_password }}
